- var image_path = './images'
- var css_path = './css'
- var js_path = './js'

-
  var pages = {
    top: {
      url: 'index.html',
      name: 'Top page',
      title: 'Top page'
    },
    recommended_route: {
      url: 'recommended_route.html',
      name: 'recommended_route',
      title: 'おすすめルート一覧'
    },
    recommended_route_detail: {
      url: 'recommended_route_detail.html',
      name: 'recommended_route_detail',
      title: 'おすすめルート詳細'
    },
    myroute_detail: {
      url: 'myroute_detail.html',
      name: 'myroute_detail',
      title: 'マイルート詳細'
    },


  }
