- var image_path = './images'
- var css_path = './css'
- var js_path = './js'

-
  var pages = {
    index: {
      url: 'index.html',
      name: 'トップページ',
      title: 'トップページ'
    },
    search: {
      url: 'search.html',
      name: 'search page',
      title: '検索ページ'
    },
    recommended_route: {
      url: 'recommended_route.html',
      name: 'recommended_route',
      title: 'おすすめルート一覧'
    },
    recommended_route_detail: {
      url: 'recommended_route_detail.html',
      name: 'recommended_route_detail',
      title: 'おすすめルート詳細'
    },
    myroute_detail: {
      url: 'myroute_detail.html',
      name: 'myroute_detail',
      title: 'マイルート詳細'
    },
    myroute_edit: {
      url: 'myroute_edit.html',
      name: 'myroute_edit',
      title: 'マイルート編集'
    },
    search_spot: {
      url: 'search_spot.html',
      name: 'search_spot',
      title: '検索結果'
    },
    recommended_spot: {
      url: 'recommended_spot.html',
      name: 'recommended_spot',
      title: 'おすすめスポットリスト'
    },
    spot_detail: {
      url: 'spot_detail.html',
      name: 'spot_detail',
      title: 'スポット詳細'
    },
    help: {
      url: 'help.html',
      name: 'help',
      title: 'ヘルプ'
    },

  }
