extends _layout.pug

block vars
  include _config.pug
  - var key = "index"
  - var page = pages[key]

block contents
  .jumbotron
    h1.display-3 筑後川クロスロード
    p.lead 筑後川流域周辺の人気スポットや、知る人ぞ知る名所をご紹介！
    hr.my-2
    p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト

  .container
