extends _layout.pug

block vars
  include _config.pug
  - var key = "recommended_route"
  - var page = pages[key]

block contents
  .container
    h2.mt-5.mb-4 おすすめルート一覧
    table.table
      thead
        tr
          th おすすめルート名
          th 説明
          th 
      tbody.items
        - for( var i = 0; i < 7; i++ )
          tr
            td: a.text-dark( href=pages.recommended_route_detail.url ) ルート名 #{i}
            td ルートの説明
            td: .text-center.mx-0
              a.btn.bg-secondary.text-light( href=pages.recommended_route_detail.url ) 詳細
