extends _layout.pug

block vars
  include _config.pug
  - var key = "recommended_route_detail"
  - var page = pages[key]

block contents
  .container
    h2.my-3 ルート案名
    p ここにルートの説明がある。 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明 説明
    p.mt-4 スポットリスト
    table.table.table-hover.active
      thead
        tr
          th スポット名
          th 住所
          th hoge
          th hoge
          th 
      tbody
      - for( var i = 0; i < 3; i++ )
        tr
          td spot name #{i}
          td address #{i}
          td hoge
          td hoge
          td: .text-center.mx-0
            a.btn.bg-secondary.text-light( href=pages.spot_detail.url ) 詳細
    .mb-1.text-right
      a.btn.bg-secondary.text-light( href=pages.myroute_edit.url ) マイルートに追加して編集する

    #map
  script.
    create_route();
